<ng-template #content let-c="close" let-c="dismiss" *ngIf="task">
	<div class="modal fade" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{{task.Name}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label for="task-name-input" class="col-2 col-form-label">Name</label>
						<div class="col-10">
							<input class="form-control" type="text" [(ngModel)]="task.Name"
								id="task-name-input">
						</div>
					</div>

					<div class="form-group row">
						<label for="task-priority-input" class="col-2 col-form-label">Priority</label>
						<div class="col-4">
							<input class="form-control" type="number"
								[(ngModel)]="task.Priority" id="task-priority-input">
						</div>
						<label for="task-dueduate-input" class="col-2 col-form-label">Due Date</label>
						<div class="col-4">
							<input class="form-control" type="date"
								[(ngModel)]="task.DueDate" id="task-dueduate-input">
						</div>
					</div>

					<div class="form-group row">
						<label for="task-progress-label" class="col-2 col-form-label">Progress</label>
						<label id="task-progress-label">{{task.Progress}} %</label>
					</div>
					<div class="form-group row">
						<div class="progress col-12">
							<input type="text" name="somename" data-provide="slider"
								data-slider-min="0" data-slider-max="100" data-slider-step="1"
								data-slider-tooltip="hide" [(ngModel)]="task.Progress">
							<!-- <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': task.Progress}" aria-valuenow="{{task.Progress}}" aria-valuemin="0" aria-valuemax="100"></div> -->
						</div>
					</div>

					<div class="form-group row">
						<label for="task-description-textarea"
							class="col-2 col-form-label">Description</label>
						<div class="col-10">
							<textarea class="form-control" id="task-description-textarea" row="3"></textarea>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						(click)="c('save')">Save</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" (click)="d('close')">Close</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>