<div *ngIf="task">
	<div (dblclick)="OnDoubleClicked()" class="taskitem">
		<div class="row">
			<div class="col-8">
				<button type="button" class="btn btn-link" (click)="expand()">-</button>
				<button type="button" class="btn btn-link" (click)="collapse()">+</button>
				<span>{{task.Name}}</span>
			</div>
			<div class="col-4"><span>{{task.DueDate| relativedate}}</span></div>
		</div>
	</div>
	<div>
		<ul class="list-group">
			<li *ngFor="let subtask of task.Tasks" class="list-group-item">
				<app-taskitem [task]="subtask"></app-taskitem>
			</li>
		</ul>
	</div>
</div>