<div>
	<ul class="list-group" >
			<li  class="list-group-item list-group-item-action"
				*ngFor="let project of projects" 
				[ngClass]="{active:project.Id===currentProjectID}"
				(click)="OnProjectClicked(project)" 
				(keyup)="OnKeyUp($event)"
				(dblclick)="project.edit=!project.edit"
				[routerLink]="[ {outlets:{'tasklist':['tasks',project.Id]}}]" >
					<span *ngIf="!project.edit">{{project.Name}}</span>
					<input [(ngModel)]="project.Name" *ngIf="project.edit" class="form-control" > 
			</li>
	</ul>
</div>